<div style='float:left;width:80%'>
Symfony Zero bundle's selection:
<ul>
    <li><a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUser Bundle enabled</a> <a href="{{path('fos_user_security_logout')}}">(logout)</a></li>
    <li><a href="{{path('admin')}}">EasyAdmin Bundle enabled:see how to easily Admin your entities</a></li>
    <li><a href="{{path('paginator_sample')}}">Paginator Bundle enabled: A simple way to paginate your records, arrays, ...</a></li>
    <li><a href='http://knpbundles.com/whiteoctober/BreadcrumbsBundle'>Breadcrumbs Bundle</a> enabled: You can see it in action in the previous link (Paginator Bundle)</a></li>
    <li><a href="{{path('tmce_sample')}}">stfalcon/TinymceBundle enabled: WYSIWYG Editor</a></li>
    
</ul>
</div>
<div style='clear:both'></div >
