<div style='float:left'>
Emergya bundle's selection:
<ul>
    <li>FOSUser Bundle enabled</a></li>
    <li><a href="{{path('admin')}}">EasyAdmin Bundle: see how to easily Admin your entities</a></li>
    <li><a href="{{path('paginator_sample')}}">Paginator demo: A simple way to paginate your records, arrays, ...</a></li>
</ul>
</div>
<div style='clear:both'></div >
